/* Fuente Montserrat */

@font-face{
    font-family: 'Montserrat';
    src: url(src/fonts/Montserrat-Thin.ttf);
    font-weight: 100
}

@font-face{
    font-family: 'Montserrat';
    src: url(src/fonts/Montserrat-Light.ttf);
    font-weight: 200
}

@font-face{
    font-family: 'Montserrat';
    src: url(src/fonts/Montserrat-Regular.ttf);
    font-weight: 300
}

@font-face{
    font-family: 'Montserrat';
    src: url(src/fonts/Montserrat-Medium.ttf);
    font-weight: 400
}

@font-face{
    font-family: 'Montserrat';
    src: url(src/fonts/Montserrat-SemiBold.ttf);
    font-weight: 500
}

@font-face{
    font-family: 'Montserrat';
    src: url(src/fonts/Montserrat-Bold.ttf);
    font-weight: 600
}

@font-face{
    font-family: 'Montserrat';
    src: url(src/fonts/Montserrat-ExtraBold.ttf);
    font-weight: 700
}

@font-face{
    font-family: 'Montserrat';
    src: url(src/fonts/Montserrat-Black.ttf);
    font-weight: 800
}

/* Fuente Roboto */

@font-face{
    font-family: 'Roboto';
    src: url(src/fonts/Roboto-Thin.ttf);
    font-weight: 100
}

@font-face{
    font-family: 'Roboto';
    src: url(src/fonts/Roboto-Light.ttf);
    font-weight: 200
}

@font-face{
    font-family: 'Roboto';
    src: url(src/fonts/Roboto-Regular.ttf);
    font-weight: 300
}

@font-face{
    font-family: 'Roboto';
    src: url(src/fonts/Roboto-Medium.ttf);
    font-weight: 400
}

@font-face{
    font-family: 'Roboto';
    src: url(src/fonts/Roboto-SemiBold.ttf);
    font-weight: 500
}

@font-face{
    font-family: 'Roboto';
    src: url(src/fonts/Roboto-Bold.ttf);
    font-weight: 600
}

@font-face{
    font-family: 'Roboto';
    src: url(src/fonts/Roboto-ExtraBold.ttf);
    font-weight: 700
}